# Dependencias
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Entorno
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Tests
coverage
